{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}    
    <h1>New Page</h1>

    <form action="{% url 'new_page' %}" method="POST">
        {% csrf_token %}
        <label>Title: </label>    
        <input type="text" name="title" placeholder="Enter a title">
        <br/>
        <br/>
        <label>Markdown Content: </label>
        <br/>
        <textarea name="content" placeholder="Enter content in Markdown............."></textarea>
        <br/>
        <input type="submit" value="Submit" class="btn btn-primary">
        
    </form>

   
{% endblock %}